
.board {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 500px;
    transform: rotateX(50deg) rotateY(-5deg) rotateZ(10deg) translateX(25px);
    box-shadow: 12px 7px 10px 0 rgba(50, 50, 50, .75)
}

.board__cell {
    width: 100px;
    height: 100px;
    display: block;
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 3px 4px 4px 3px;
    background: #ccc;
    color: #333;
    line-height: 2;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    padding-top: 40px;
    box-sizing: border-box;
    flex: 1;
    cursor: pointer
}

.board__cell:hover {
    border-color: #666 #aaa #bbb #888;
    border-width: 4px 3px 3px 4px;
    color: #000
}

.board__cell-odd {
    background-color: #BE242C
}

.board__cell-even {
    background-color: #FCFCFC
}

.board__empty-cell {
    cursor: default
}

.board__empty-cell:hover {
    border-color: #bbb #888 #666 #aaa;
    border-width: 3px 4px 4px 3px;
    color: #333
}

.board--3-in-row .board__cell {
    flex-basis: 33.33333%
}

.board--4-in-row .board__cell {
    flex-basis: 25%
}

.board--5-in-row .board__cell {
    flex-basis: 20%
}

.board--6-in-row .board__cell {
    flex-basis: 16.66667%
}
